.button {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    padding: 4px 0;
    font-weight: 700;
    background-color: rgb(31, 186, 88);
    border: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    cursor: pointer;



    img {
        margin-right: 6px;
    }

    &:hover {
        background-color: rgb(22, 163, 74)
    }

    &:disabled {
        background-color: rgb(21, 128, 61);
        cursor: not-allowed;
    }
}

.spinner {
    height: 24px;
}