.user {
    z-index: 10;
    position: relative;

    div {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: flex-start;

        img {
            width: 48px;
            object-fit: cover;
            height: 48px;
        }

        div {
            color: rgb(148, 163, 184, 0.9);
            font-weight: 300;

        }


    }
}