.main {
    display: flex;
    justify-content: space-between;
    padding: 40px 10px 0 10px;

    .post__wrapper {
        width: 68%;
    }

    .tab {
        font-size: 30px;
        font-weight: 700;
        color: #5d6771;

        &:hover {
            color: #80b1e2;
        }
    }

    .rightBar {
        width: 30%;
        display: block;
    }


}

@media(max-width: 720px) {
    .main {

        .post__wrapper {
            width: 100%;
        }

        .rightBar {
            display: none;
        }

        nav {
            display: block;

            ul {
                li {
                    font-size: 18px;
                }
            }
        }
    }
}