.menu {

    display: none;
    margin-bottom: 30px;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;

        li {
            font-size: 24px;
            padding: 0 5px 5px 5px;
            font-weight: 700;
            color: #5d6771;
        }
    }

}

.active {
    color: #80b1e2;
    border-bottom: 2px solid #80b1e2;
}

@media(max-width: 720px) {

    .menu {
        display: block;

        ul {
            li {
                font-size: 18px;
            }
        }

    }
}