.mini__posts {
    width: 100%;
    margin-top: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.116);

    img {
        width: 20px;
        height: 20px;
    }

    .mini__img {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            cursor: pointer;
        }

        h5 {
            font-size: 16px;
            font-size: 900;
            background-image: linear-gradient(#e6646400, #000000c4);
            height: 20%;
            width: 100%;
            position: absolute;
            bottom: 0;
            color: #fff;
            padding: 0 0 10px 10px;
            display: flex;
            align-items: flex-end;
        }
    }

    .right {
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        gap: 30px;

        div {
            display: flex;
            gap: 5px
        }

        span {
            color: #ced0d3;
        }
    }
}

@media(max-width: 750px) {
    .mini__posts {
        .mini__img {
            h5 {
                font-size: 14px;
            }

        }
    }
}