.comment {
    margin: 20px 0;
    padding: 0 8px;
    border-bottom: solid 1px rgb(226, 223, 223);
    position: relative;

    .text {
        position: relative;
        padding: 12px;
        font-weight: 400;
        color: rgb(107, 114, 128, 0.9);
        font-size: 15px;
        line-height: 24px;
        z-index: 11;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
    }

    .likeBlock {
        display: flex;
        gap: 20px;
        margin-left: 20px;
        padding-bottom: 15px;
        z-index: 11;

        div {
            display: flex;
            gap: 5px;

            &:first-child img {
                align-self: flex-start;
            }
        }

        img {
            height: 15px;
            object-fit: cover;
            cursor: pointer;
            align-self: flex-end;
        }


        span {
            font-size: 13px;
            line-height: 15px;
            color: rgb(161, 162, 164);
            align-self: flex-end;
        }

        ;
    }

    .date {
        color: rgb(209, 213, 219, 1);
        font-size: 12px;
        line-height: 16px;
    }
}