.bar {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .comment__bar {
        h3 {
            font-size: 30px;
            color: #676666c0;
            text-align: center;

            p {
                font-size: 9px;
            }
        }
    }

    .mini__posts {
        box-shadow: 0 10px 20px rgba(145, 143, 143, 0.586);
        border-radius: 5px;
        padding: 25px 10px;

        h3 {
            font-size: 30px;
            color: #676666c0;
            text-align: center;
        }
    }
}

@media(max-width:720px) {
    .bar {
        display: none;
    }
}