.button {
    display: flex;
    align-self: center;
    background-color: rgb(35, 91, 95);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgb(145 143 143 / 59%);
    transition: transform 0.4s;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        display: block;
    }

    span {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
}

@media(max-width: 720px) {
    .button {
        align-self: start;
    }
}

@media(max-width: 577px) {
    .button {
        align-self: end;
    }
}

@media(max-width: 450px) {
    .button {
        span {
            font-size: 12px;
        }
    }
}