.login {
    width: 320px;
    padding: 40px 10px 16px;
    margin: 128px auto 0;
    border-radius: 6px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);

    .img {
        width: 160px;
        margin: 0 auto 20px;

        img {
            object-fit: cover;
            height: 160px;
        }
    }

    .wrapper {
        margin: 0 auto;
    }

    form {
        padding: 0 10px;
    }

    .button {
        margin-top: 40px;
    }

}

@media(max-width: 720px) {
    .login {
        margin-top: 20px;
    }
}

@media(max-width: 576px) {
    .login {
        margin-top: 5px;
    }
}