.block{
    @apply h-20 flex gap-4;
    button{
        @apply self-center px-2 py-1.5 rounded-lg font-bold text-lg transition-transform;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid rgb(18, 155, 173);
        color: rgb(18, 155, 173);
        &:hover{
            @apply scale-105
        }
    }
}

@media(max-width: 720px){
    .block{
        button{
            @apply flex self-start ;

        }
    }
}

@media(max-width: 577px){
    .block{
        @apply flex-col;
        button{
        @apply   self-end w-full justify-center;
        }

    }
}

@media(max-width: 450px){
    .block{
        button{
        @apply   p-1 text-sm;
        }

    }
}

