.block {
    display: flex;
    gap: 16px;
    height: 80px;

    button {
        align-self: center;
        padding: 6px 8px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        transition: transform 0.2s;

        background-color: rgba(255, 255, 255, 0);
        border: 2px solid rgb(18, 155, 173);
        color: rgb(18, 155, 173);

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media(max-width: 720px) {
    .block {
        button {
            display: flex;
            align-self: flex-start;
        }
    }
}

@media(max-width: 577px) {
    .block {
        @apply flex-col;
        flex-direction: column;

        button {
            align-self: flex-end;
            width: 100%;
            justify-content: center;
        }

    }
}

@media(max-width: 450px) {
    .block {
        button {
            padding: 4px;
            font-size: 14px;
            line-height: 20px;
        }

    }
}